footer {
  bottom: 0;
  position: fixed;
  width: 100%;
  height: 56px;
  background-image: linear-gradient(to right, #ff6363, #ea5f5f, #d65a5a, #c25656, #ae5151);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
}

footer button {
  background-color: unset;
  border: unset;
  cursor: pointer;
}

footer button img {
  filter: brightness(0) invert(1);
  width: 30px;
  height: 30px;
}

.selected {
  width: 56px;
  height: 56px;
  border: 2px solid var(--red);
  background-color: var(--bg-color-secondary);
  border-radius: 100%;
  position: relative;
  top: -15px;
}

.selected img {
  filter: unset;
}

@media screen and (min-width: 650px) {
  footer {
    justify-content: space-evenly;
  }
}