.goback {
  width: 50px;
  height: 50px;
  position: absolute;
  top: 200px;
  left: 10px;
}

.goback button {
  width: 100%;
  height: 100%;
  background-color: var(--red);
  border: unset;
  border: 1px solid var(--red);
  border-radius: 100%;
  cursor: pointer;
  box-shadow: 1.95px 1.95px 2.6px rgb(0 0 0 / 15%);
}

.goback button svg {
  width: 30px;
  height: 30px;
  color: white;
}