* {
  box-sizing: border-box;
}

.meal-card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  max-width: 1120px;
  margin-left: auto;
  margin-right: auto;
  padding: 50px;
  gap: 50px;
}

.meal-card img {
  width: 300px;
  border-radius: 10px 10px 0 0;
}

.meal-card {
  display: flex;
  flex-direction: column;
  width: 300px;
  height: 250px;
  color: #222;
  margin-bottom: 20px;
  background-color: white;
  box-shadow: 0 3px 7.5px rgb(0 0 0 / 10%);
  border-radius: 10px 10px 10px 10px;
}

.meal-card a img {
  width: 300px;
  height: 220px;
}

.meal-card a {
  text-align: center;
}

.meal-card-date {
  position: absolute;
  top: 9px;
  left: 200px;
  background-color: white;
  padding: 5px 7px;
  border-radius: 2px;
}

.meal-card-button {
  position: absolute;
  top: 6px;
  left: 6px;
  padding: 5px 7px;
  border-radius: 2px;
  width: 35px;
}

.fav {
  left: 35px;
}

@media screen and (min-width: 650px) {
  .meal-card-container {
  }
}