* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat';
}

#root {
  width: 100vw;
  height: 100vh;
  background-color: var(--bg-color-primary);
}

:root {
  --bg-color-primary: white;
  --bg-color-secondary: #F5F5F5;
  --green: #348756;
  --dark: #2D2D2D;
  --shadow: 0.5px 10px 15px rgb(0 0 0 / 20%);
}